<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<% if (list) { %>
			<h1>Deze wedstrijden vinden momenteel plaats</h1>
			<ul>
				<% list.forEach(game => { %>
				<li>
					<a href="/score/<%= game.id%>">
						<%= game.teamA %> <span><%= game.scoreA %></span> -
						<span><%= game.scoreB%></span> <%= game.teamB %>
					</a>
					<a href="/scoreboard/<%= game.id%>">scoreboard</a>
				</li>
				<% }) %>
			</ul>
			<% } else { %>
			<h1>Er zijn nog geen wedstrijden bezig</h1>

			<% } %>
		</main>
	</body>
</html>
