<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<h2><%= game.teamA %></h2>
			<h3><%= game.scoreA %></h3>
			<h2><%= game.teamB %></h2>
			<h3><%= game.scoreB %></h3>
		</main>
	</body>
</html>
