<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main class="score">
			<h3>Game ID: <%= game.id %></h3>
			<h3><%= game.teamA %> - <%= game.teamB %></h3>
			<div>
				<h2><%= game.teamA %></h2>
				<p class="score-display"><%= game.scoreA %></p>
			</div>
			<div>
				<h2><%= game.teamB %></h2>
				<p class="score-display"><%= game.scoreB %></p>
			</div>
			<a href="/score/<%= game.id %>">Kijk of er een nieuwe score is</a>
			<form action="/comment/<%= game.id %>" method="POST" class="comment-form">
				<h2>Reageer op deze wedstrijd</h2>
				<label for="comment">Uw reactie</label>
				<input
					type="text"
					maxlength="40"
					name="comment"
					id="comment"
					placeholder="Typ hier"
					autocomplete="off"
				/>
				<button>Plaats reactie</button>
			</form>
			<% if (game.comments) { %>
			<h3>Reacties van anderen</h3>
			<ul class="comment-section">
				<% for (const comment of game.comments) { %>
				<li><%= comment %></li>
				<% } %>
			</ul>
			<% } %>
		</main>
	</body>
</html>
