<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<h3><%= game.id %></h3>
			<h2><%= game.teamA %></h2>
			<h2><%= game.teamB %></h2>
			<form action="/update-score/<%= game.id %>" method="post">
				<div>
					<label for="scoreA">Score <%= game.teamA %></label>
					<input
						type="number"
						name="scoreA"
						id="scoreA"
						value="<%= game.scoreA %>"
					/>
				</div>
				<span><%= game.scoreA %></span>
				<div>
					<label for="scoreB">Score <%= game.teamB %></label>
					<input
						type="number"
						name="scoreB"
						id="scoreB"
						value="<%= game.scoreB %>"
					/>
				</div>
				<span><%= game.scoreB %></span>
				<button>Update score</button>
			</form>
		</main>
	</body>
</html>
