<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<h3>Game ID: <%= game.id %></h3>
			<h3><%= game.teamA %> - <%= game.teamB %></h3>
			<form action="/update-score/<%= game.id %>" method="post">
				<h2><%= game.teamA %></h2>
				<div>
					<label for="scoreA">Score</label>
					<span><%= game.scoreA %></span>
					<input
						type="number"
						min="0"
						name="scoreA"
						id="scoreA"
						value="<%= game.scoreA %>"
					/>
				</div>
				<h2><%= game.teamB %></h2>
				<div>
					<label for="scoreB">Score</label>
					<span><%= game.scoreB %></span>
					<input
						type="number"
						min="0"
						name="scoreB"
						id="scoreB"
						value="<%= game.scoreB %>"
					/>
				</div>
				<button>Update score</button>
			</form>
			<% if (game.comments) { %>
			<div class="comment-section">
				<% for (const comment of game.comments) { %>
				<div class="comment">
					<p><%= comment %></p>
				</div>
				<% } %>
			</ul>
			<% } %>
		</main>
	</body>
</html>
